<div id="page-wrapper">
  <div class="container col-md-12">
    <div class="image col-md-8">
      <img src="{{picture_url}}/picture?filename={{image.FILENAME}}" width="100%">
    </div>
    <div class="infos col-md-4">
      <ul>
        <li class="user"><a routerLink="/user/{{user.ID_USER}}">{{user.PSEUDO}}</a></li>
        <li class="time">{{image.timeSince}}</li>
        <li>
          {{image.DESCRIPTION}}
        </li>
        <li>
          <tag-input [ngModel]="tags" [readonly]="true"></tag-input>
        </li>
        <li>
          <tag-input [ngModel]="mentions" [readonly]="true" [theme]="'minimal'"></tag-input>
        </li>
        <li>
          <i class="fa fa-thumbs-up" style="font-size:30px;color: #337ab7 ;" aria-hidden="true" (click)="checkAlreadyLiked()"></i>
           {{reactionsNbr}}
        </li>
      </ul>
      <div *ngIf="updated">
        <div style="width: 90%" class="form-group row">
          <label class="col-2 col-form-label">Description</label>
          <div class="col-10">
            <input [(ngModel)]="image.DESCRIPTION" class="form-control" type="text" value='{{image.DESCRIPTION}}'>
          </div>
        </div>

        <div style="width: 90%" class="form-group row">
          <label class="col-2 col-form-label">Tag</label>
          <div class="col-10">
            <tag-input [(ngModel)]="tags" [theme]="'minimal'"></tag-input>
          </div>
        </div>

        <div style="width: 90%" class="form-group row">
          <label class="col-2 col-form-label">Mention</label>
          <div class="col-10">
            <tag-input [(ngModel)]="mentions" [theme]="'minimal'">
              <tag-input-dropdown [autocompleteItems]="users">
              </tag-input-dropdown>
            </tag-input>
          </div>
        </div>

        <button class="btn btn-success" (click)="updateImage()">Update</button>
      </div>
      <div *ngIf="my_user_id == user.ID_USER && updated == 0" style="text-align: center">
        <button class="btn btn-success" (click)="changeState()">Update</button>
        <button class="btn btn-danger" (click)="deleteImage()">Delete</button>
      </div>
    </div>
  </div>
</div>

