ul {
  margin: 0; }

#page-wrapper {
  background-color: #FAFAFA;
  padding: 0;
  height: 100%;
  padding-top: 40px;
  overflow: auto; }
  #page-wrapper .photo-container {
    text-align: center;
    padding: 20px; }
    #page-wrapper .photo-container .photo-card {
      padding: 20px;
      width: 100%;
      max-width: 600px;
      display: inline-block;
      background-color: #fff;
      border: 1px solid #e6e6e6; }
      #page-wrapper .photo-container .photo-card div.user {
        height: 60px;
        text-align: -webkit-auto; }
        #page-wrapper .photo-container .photo-card div.user ul {
          padding: 10px; }
          #page-wrapper .photo-container .photo-card div.user ul li {
            list-style: none;
            border: 0; }
            #page-wrapper .photo-container .photo-card div.user ul li.name {
              width: 100%;
              float: left;
              text-align: inherit; }
              #page-wrapper .photo-container .photo-card div.user ul li.name a {
                font-size: 18px;
                color: #696D70;
                text-decoration: none; }
            #page-wrapper .photo-container .photo-card div.user ul li.date {
              font-size: 12px;
              color: #bdbdbd;
              padding-top: 0; }
      #page-wrapper .photo-container .photo-card div.img img {
        width: 100%; }

#page-wrapper .container {
  margin-left: 20px;
  padding: 20px; }
  #page-wrapper .container .image img {
    max-width: 100%; }
  #page-wrapper .container .infos ul li {
    list-style: none; }
    #page-wrapper .container .infos ul li.user {
      font-size: 24px;
      color: #696D70;
      text-decoration: none;
      width: 100%;
      text-align: initial; }
    #page-wrapper .container .infos ul li.time {
      color: #bdbdbd;
      border: 0; }

#page-wrapper .header_profile {
  text-align: center; }
  #page-wrapper .header_profile img {
    height: 6em; }
  #page-wrapper .header_profile .main_profile1 {
    margin: -90px auto 0;
    padding-bottom: 20px;
    background-color: #FAFAFA;
    text-align: center; }
    #page-wrapper .header_profile .main_profile1 .profile-name {
      padding-top: 90px; }
    #page-wrapper .header_profile .main_profile1 .update {
      background-color: #3498db;
      color: #fff;
      font-size: 15px;
      border: 0;
      border-radius: 0; }
      #page-wrapper .header_profile .main_profile1 .update:hover {
        color: #3498db;
        background-color: #fff;
        border: 1px solid #3498db; }
    #page-wrapper .header_profile .main_profile1 h2 {
      margin-top: 0;
      font-size: 15px; }
    #page-wrapper .header_profile .main_profile1 .container {
      margin-left: 0;
      display: inline-block; }
      #page-wrapper .header_profile .main_profile1 .container > .btn {
        width: 10% !important; }
#page-wrapper .row {
  width: 70%;
  display: inline-block; }
  #page-wrapper .row div .thumbnail {
    height: 350px;
    width: 350px;
    overflow: hidden;
    border: none;
    display: inline-block;
    padding: 0;
    border-radius: 0; }
    #page-wrapper .row div .thumbnail .img img {
      margin-left: -50%;
      width: 600px; }

#page-wrapper.login {
  text-align: center; }
  #page-wrapper.login .login-container {
    width: 60%;
    background-color: #fff;
    padding: 40px;
    display: inline-block;
    border: 1px solid #e6e6e6; }

delete-icon {
  display: initial !important; }

#page-wrapper .discover {
  text-align: center;
  width: 100%; }
  #page-wrapper .discover .discover-container {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    width: 600px;
    display: inline-block; }
    #page-wrapper .discover .discover-container .discover-feed {
      padding: 20px;
      list-style: none;
      border-bottom: 1px solid #e6e6e6; }
      #page-wrapper .discover .discover-container .discover-feed li {
        overflow: hidden;
        list-style: none; }
        #page-wrapper .discover .discover-container .discover-feed li.infos {
          text-align: initial; }
          #page-wrapper .discover .discover-container .discover-feed li.infos ul {
            padding: 0;
            list-style: none; }
            #page-wrapper .discover .discover-container .discover-feed li.infos ul li {
              list-style: none; }
              #page-wrapper .discover .discover-container .discover-feed li.infos ul li:first-child {
                font-weight: bold; }
              #page-wrapper .discover .discover-container .discover-feed li.infos ul li:last-child {
                font-size: 13px; }
        #page-wrapper .discover .discover-container .discover-feed li.images {
          padding: 3px; }
          #page-wrapper .discover .discover-container .discover-feed li.images ul {
            padding: 0; }
            #page-wrapper .discover .discover-container .discover-feed li.images ul li {
              height: 160px;
              overflow: hidden;
              display: inline-block; }
              #page-wrapper .discover .discover-container .discover-feed li.images ul li img {
                width: 300px;
                margin-left: -50%; }
      #page-wrapper .discover .discover-container .discover-feed:first-child {
        text-align: start;
        font-weight: bold;
        color: #999; }

#page-wrapper .update-container {
  text-align: center; }
  #page-wrapper .update-container .update {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 20px;
    display: inline-block;
    width: 600px; }
    #page-wrapper .update-container .update .form-group {
      text-align: start; }
    #page-wrapper .update-container .update h3 {
      margin: 0;
      font-size: 15px;
      color: #999;
      margin-bottom: 20px; }

#page-wrapper .upload-container {
  text-align: center; }
  #page-wrapper .upload-container .upload {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 20px;
    display: inline-block;
    width: 600px; }
    #page-wrapper .upload-container .upload .form-group .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    #page-wrapper .upload-container .upload .form-group .inputfile + label {
      padding: 10px;
      color: white;
      background-color: #337ab7;
      display: inline-block;
      cursor: pointer; }

/*# sourceMappingURL=home.css.map */
