ul {
  margin: 0; }

#page-wrapper {
  background-color: #FAFAFA;
  padding: 0;
  height: 100%;
  padding-top: 40px;
  overflow: auto; }
  #page-wrapper .photo-container {
    text-align: center;
    padding: 20px; }
    #page-wrapper .photo-container .photo-card {
      padding: 20px;
      width: 100%;
      max-width: 600px;
      display: inline-block;
      background-color: #fff;
      border: 1px solid #e6e6e6; }
      #page-wrapper .photo-container .photo-card div.user {
        height: 60px;
        text-align: -webkit-auto; }
        #page-wrapper .photo-container .photo-card div.user ul {
          padding: 10px; }
          #page-wrapper .photo-container .photo-card div.user ul li {
            list-style: none;
            border: 0; }
            #page-wrapper .photo-container .photo-card div.user ul li.name {
              width: 100%;
              float: left;
              text-align: inherit; }
              #page-wrapper .photo-container .photo-card div.user ul li.name a {
                font-size: 18px;
                color: #696D70;
                text-decoration: none; }
            #page-wrapper .photo-container .photo-card div.user ul li.date {
              font-size: 12px;
              color: #bdbdbd;
              padding-top: 0; }
      #page-wrapper .photo-container .photo-card div.img img {
        width: 100%; }

#page-wrapper .container {
  margin-left: 20px;
  padding: 20px; }
  #page-wrapper .container .image img {
    max-width: 100%; }
  #page-wrapper .container .infos ul li {
    list-style: none; }
    #page-wrapper .container .infos ul li.user {
      font-size: 24px;
      color: #696D70;
      text-decoration: none;
      width: 100%;
      text-align: initial; }
    #page-wrapper .container .infos ul li.time {
      color: #bdbdbd;
      border: 0; }

#page-wrapper .header_profile {
  text-align: center; }
  #page-wrapper .header_profile img {
    height: 6em; }
  #page-wrapper .header_profile .main_profile1 {
    margin: -90px auto 0;
    padding-bottom: 20px;
    background-color: #FAFAFA;
    text-align: center; }
    #page-wrapper .header_profile .main_profile1 .profile-name {
      padding-top: 90px; }
    #page-wrapper .header_profile .main_profile1 .update {
      background-color: #3498db;
      color: #fff;
      font-size: 15px;
      border: 0;
      border-radius: 0; }
      #page-wrapper .header_profile .main_profile1 .update:hover {
        color: #3498db;
        background-color: #fff;
        border: 1px solid #3498db; }
    #page-wrapper .header_profile .main_profile1 h2 {
      margin-top: 0;
      font-size: 15px; }
    #page-wrapper .header_profile .main_profile1 .container {
      margin-left: 0;
      display: inline-block; }
      #page-wrapper .header_profile .main_profile1 .container > .btn {
        width: 10% !important; }
#page-wrapper .row {
  width: 70%;
  display: inline-block; }
  #page-wrapper .row div .thumbnail {
    height: 350px;
    width: 350px;
    overflow: hidden;
    border: none;
    display: inline-block;
    padding: 0;
    border-radius: 0; }
    #page-wrapper .row div .thumbnail .img img {
      margin-left: -50%;
      width: 600px; }

#page-wrapper.login {
  text-align: center; }
  #page-wrapper.login .login-container {
    width: 60%;
    background-color: #fff;
    padding: 40px;
    display: inline-block;
    border: 1px solid #e6e6e6; }

delete-icon {
  display: initial !important; }

/*# sourceMappingURL=home.css.map */
