.navbar {
  height: 80px;
  margin-bottom: 0;
  background-color: #fff;
  .navbar-header {
    .navbar-brand {
      width: 150px;
      height: auto;
    }
  }
  .navbar-collapse {
    .navbar-right {
      li {
        height: 78px;
        a {
          line-height: 48px;
          font-size: 15px;
        }
        input {
          margin-top: 24px;
        }
        &:last-child {
          border-right: 0;
        }
        &:first-child {
          width: 200px;
          .input-group {
            width: 100%;
            margin-top: 24px;
            input {
              margin: 0!important;
            }
          }
        }
      }
    }
  }
}
