#page-wrapper {
  .upload-container {
    text-align: center;
    .upload {
      background-color: #fff;
      border: 1px solid #e6e6e6;
      padding: 20px;
      display: inline-block;
      width: 80%;
      .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
        width: 100px;
        border-radius: 0;

      }
      .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
      }
      .form-group {
        .inputfile {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
        .inputfile + label {
          padding: 10px;
          color: white;
          background-color: #337ab7;
          display: inline-block;
          cursor: pointer;
        }
      }
    }
  }
}
