<div id="page-wrapper">
    <div class="discover">
        <div class="discover-container">
            <ul class="discover-feed">
                <li>DISCOVER PEOPLE</li>
            </ul>
            <ul *ngFor="let user of users;" class="discover-feed">
                <li class="infos">
                    <ul>
                        <li>Name: {{user.firstName}} {{user.lastName}}</li>
                        <li>id: {{user.id}}</li>
                        <li>e-mail: {{user.email}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>