<div id="page-wrapper">
  <div class="public_photos">
    <div class="photo-container col-md-12" *ngFor="let image of images;">
      <!--<a [routerLink]="['/picture/:userid/:id']" [queryParams]="{'userid': image.userId, 'id': image.id}">-->
      <div class="photo-card">
        <div class="img"> <a routerLink="/picture/{{image.ID_OWNER}}/{{image.ID_PICTURE}}"><img src="{{picture_url}}/picture?filename={{image.FILENAME}}" width="600px"></a></div>
        <div class="user">
          <ul>
            <li class="name"><a href="#">{{image.DESCRIPTION}}</a></li>
            <!--<li class="date">{{image.timeSince}}</li>-->
          </ul>
        </div>
      </div>
    </div>

    <ngb-pagination style="text-align: center" (pageChange)="onPager($event)" [maxSize]="5" [rotate]="true" [ellipses]="false" [collectionSize]="totalEntries" [(pageSize)]="pageSize" [(page)]="page"></ngb-pagination>
  </div>
</div>
