<div id="page-wrapper">
  <div class="public_photos" *ngIf="images">
    <div class="photo-container col-md-12" *ngFor="let image of images;">
      <!--<a [routerLink]="['/picture/:userid/:id']" [queryParams]="{'userid': image.userId, 'id': image.id}">-->
      <div class="photo-card">
        <div class="photo-head" *ngIf="image.USER">
          <a href="#" class="avatar"><img src="{{image.USER.PICTURE_PATH}}">
          @{{image.USER.PSEUDO}}</a>
          <div class="date">{{image.timeSince}}</div>
        </div>
        <div class="img"> <a routerLink="/picture/{{image.ID_OWNER}}/{{image.ID_PICTURE}}"><img *ngIf="image.FILENAME" [style]="image.filterCss" src="{{picture_url}}/picture?filename={{image.FILENAME}}" width="600px"></a></div>
        <div class="user" style="text-align:start">
          <ul style="display: inline-block; margin-bottom: 0!important">
            <li class="react">{{image.nbrReact}} <i [class.islike]="isLiked" class="fa fa-heart" style="font-size:15px;color: #e74c3c" aria-hidden="true"></i></li>
            <li class="name"><p>{{image.DESCRIPTION}}</p></li>
          </ul>
          <div style="width: 100%;">
            <tag-input theme="foundation-theme" [ngModel]="image.tags" [transform]="transformer" [readonly]="true"></tag-input>
          </div>
        </div>
      </div>
    </div>

    <ngb-pagination style="text-align: center" (pageChange)="onPager($event)" [maxSize]="5" [rotate]="true" [ellipses]="false" [collectionSize]="totalEntries" [(pageSize)]="pageSize" [(page)]="page"></ngb-pagination>
  </div>
</div>
