<div id="page-wrapper">
  <div class="header_profile">
    <!--<img src="{{user.pictureUrl}}" class="profile-img">-->
    <img src="{{user.PICTURE_PATH}}" class="profile-img">
    <div class="main_profile1">
      <h1 class="profile-name">{{user.FIRSTNAME}} {{user.LASTNAME}}</h1>
      <h2>@{{user.PSEUDO}}</h2>
      <section class="buttons">
        <div class="container">
          <div class="btn btn-3" style="width:33%;">posts
            <div style="clear:both;"></div>
            <span style="font-size:20px; font-weight:bold;">{{totalEntries}}</span>
          </div>
          <div class="btn btn-3" style="width:36%; border-right:1px solid rgba(0, 0, 0, 0.1); border-left:1px solid rgba(0, 0, 0, 0.1)">followers

            <div style="clear:both;"></div>
            <span style="font-size:20px; font-weight:bold;">{{user.countFollower}}</span>
          </div>
          <div class="btn btn-2" style=" width:23%;">following
            <div style="clear:both;"></div>
            <span style="font-size:20px; font-weight:bold;">{{user.countFollowing}}</span>
          </div>
        </div>
      </section>
      <div style="clear:both;"></div>
      <a *ngIf="follow === false" (click)="followAction()" class="btn btn-primary update">Follow</a>
      <a *ngIf="follow === true" (click)="unfollowAction()" class="btn btn-primary update" style="background-color:#FE2E2E">Unfollow</a>
    </div>
  </div>

  <div class="image-container" style="text-align: center">
    <div class="row">
      <div *ngFor="let image of images;" class="col-xs-6 col-md-4">
        <a routerLink="/picture/{{user.ID_USER}}/{{image.ID_PICTURE}}" class="thumbnail">
          <div class="img"><img *ngIf="image.FILENAME" [style]="image.filterCss" src="{{picture_url}}/picture?filename={{image.FILENAME}}"></div>
        </a>
      </div>
    </div>
    <ngb-pagination style="text-align: center" (pageChange)="onPager($event)" [maxSize]="5" [rotate]="true" [ellipses]="false" [collectionSize]="totalEntries" [(pageSize)]="pageSize" [(page)]="page"></ngb-pagination>

  </div>

</div>
