<div id="page-wrapper" class="register">
  <div class="login-container">
    <h1>UGRAM</h1>
    <div *ngIf="error">
      <div class="alert alert-danger" role="alert">{{error_message}}</div>
    </div>
    <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="register($event)">
      <div class="form-group">
        <label for="firstname" class="col-md-4 control-label">Firstname</label>
        <div class="col-md-8">
          <input formControlName="firstname" type="text" class="form-control" id="firstname" placeholder="Firstname">
        </div>
      </div>
      <div class="form-group">
        <label for="lastname" class="col-md-4 control-label">Lastname</label>
        <div class="col-md-8">
          <input formControlName="lastname" type="text" class="form-control" id="lastname" placeholder="Lastname">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-4 control-label">Email</label>
        <div class="col-md-8">
          <input formControlName="email" type="text" class="form-control" id="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="pseudo" class="col-md-4 control-label">Pseudo</label>
        <div class="col-md-8">
          <input formControlName="pseudo" type="text" class="form-control" id="pseudo" placeholder="Pseudo">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-md-4 control-label">Password</label>
        <div class="col-md-8">
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="password_conf" class="col-md-4 control-label">Confirm Password</label>
        <div class="col-md-8">
          <input formControlName="password_conf" type="password" class="form-control" id="password_conf" placeholder="Confirm password">
        </div>
      </div>
      <div class="form-group">
        <label for="gender" class="col-md-4 control-label">Gender</label>
        <div class="col-md-8">
          <div class="radio">
            <label>
              <input type="radio" id="gender" value="M" formControlName="gender"> Male
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" id="gender2" value="F" formControlName="gender"> Female
            </label>
          </div>
          <div class="radio">
            <label>
              <input checked type="radio" id="gender3" value="X" formControlName="gender"> Other
            </label>
          </div>
        </div>
      </div>
      <button style="margin-top: 20px" type="submit" class="btn btn-default">Submit</button>
    </form>
    <div style="margin-top: 20px;text-align: center">
      <a routerLink="/login">Login</a>
    </div>
  </div>
</div>
