<div id="page-wrapper">
  <div class="discover">
    <div class="discover-container">
      <ul class="discover-feed">
        <li>DISCOVER PEOPLE</li>
      </ul>
      <div *ngFor="let user of users;" class="discover-feed">
        <div class="infos">
          <div class="pic"><img src="{{user.PICTURE_PATH}}"></div>
          <div class="user-infos">
            <div class="name"><a routerLink="/user/{{user.ID_USER}}">{{user.FIRSTNAME}} {{user.LASTNAME}}</a></div>
            <div class="pseudo">@{{user.PSEUDO}}</div>
          </div>
        </div>
      </div>
      <br>
      <ngb-pagination style="text-align: center" (pageChange)="onPager($event)" [maxSize]="5" [rotate]="true" [ellipses]="false" [collectionSize]="totalEntries" [(pageSize)]="pageSize" [(page)]="page"></ngb-pagination>
    </div>
  </div>
</div>
