<div id="page-wrapper">
  <div class="discover">
    <div class="discover-container">
      <ul class="discover-feed">
        <li>DISCOVER PEOPLE</li>
      </ul>
      <ul *ngFor="let user of users;" class="discover-feed">
        <li class="infos">
          <ul>
            <li><a routerLink="/user/{{user.ID_USER}}">{{user.FIRSTNAME}} {{user.LASTNAME}}</a></li>
            <li>@{{user.PSEUDO}}</li>
          </ul>
        </li>
      </ul>
      <ngb-pagination style="text-align: center" (pageChange)="onPager($event)" [maxSize]="5" [rotate]="true" [ellipses]="false" [collectionSize]="totalEntries" [(pageSize)]="pageSize" [(page)]="page"></ngb-pagination>
    </div>
  </div>
</div>
