@import "variable";

body {
    height: auto;
    min-height: 100%;
    position: relative;
    background-color: #F1F5F8;
}

.navbar {
    height: 80px;
    margin-bottom: 0;
    background-color: #fff;
    .navbar-header {
        .navbar-brand {
            width: 150px;
            height: auto;
        }
    }
    .navbar-collapse {
        .navbar-right {
            li {
                height: 78px;
                a {
                    line-height: 48px;
                    font-size: 15px;
                }
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
}

