$blue10 : #e9f0f6;
$blue20 : #d2e0eb;
$blue30 : #bbd2e0;
$blue40 : #a4c3d6;
$blue50 : #8eb3cc;
$blue60 : #79a3c2;
$blue70 : #6295b8;
$blue80 : #4b85ad;
$blue90 : #3678a3;
$blue : #18689c;

$gray03 : #f8f8f8;
$gray05 : #f4f5f5;
$gray10 : #ebebeb;
$gray20 : #d4d5d5;
$gray30 : #c1c3c3;
$gray40 : #acadad;
$gray50 : #959999;
$gray60 : #828585;
$gray70 : #6d7071;
$gray80 : #575c5e;
$gray90 : #444849;
$gray95 : #393E3F;
$gray : #2e3335;

$red: #c0392b;
$green: #bbdd4e;
$orange: #f39c12;

$good_color1: #bbdd4e;
$good_color2: #98DC6A;

$medium_hight_color1: #bbdd4e;
$medium_hight_color2: #F1C40F;

$medium_color1: #f39c12;
$medium_color2: #F1C40F;

$medium_low_color1: #f39c12;
$medium_low_color2: #e74c3C;

$bad_color1: #c0392b;
$bad_color2: #e74c3C;




@font-face {
    font-family: SensationRegular;
    src: url(../fonts/Sansation/Sansation-Regular.ttf);
}

@font-face {
    font-family: SensationLight;
    src: url(../fonts/Sansation/Sansation-Light.ttf);
}